/*Generales-----------------------------------------------------------------------------------------------------------------------------*/
.principal1{
  min-width: 1290px;
  min-height: 100vh;
}
.ancho-max{
  min-width: 1290px;
  width: 100%;
}
.mainL{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}
.main1{
    min-width: 1290px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 50px 0;
    background-color: rgb(243, 243, 243);
}
.content-btnEnlace{
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.btn-enlace1{
  background-color: rgb(51, 79, 138);
  padding: 10px;
  border-radius: 20px;
}
.btn-enlace1:hover{
  background-color: rgb(79, 102, 151);
}
/*Generales-----------------------------------------------------------------------------------------------------------------------------*/

/*NAV-----------------------------------------------------------------------------------------------------------------------------------*/
.nav1{
    height: 100px;
    background-color: rgb(44,44,44);
    background-color: rgb(47, 62, 94);
    padding-bottom: 15px;
}
.content-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.menu1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
    height: 100%;
    width: 1800px;
}
.menu1 li, a{
    list-style: none;
    text-decoration: none;
    color: rgb(230,230,230);
    font-weight: 500;
    cursor: pointer;
}
.submenu1{
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: rgb(44,44,44);
    background-color: rgb(47, 62, 94);
    border-radius: 3px;
    display: none;
    padding: 15px 10px;
}
.submenu1 li{
    padding: 0 5px;
    border-radius: 5px;
    width: 100px;
}
.submenu1 li:hover{
    background-color: rgb(77, 77, 77);
    background-color: rgb(79, 102, 151);
}
.menu-desplega:hover .submenu1{
    display: flex;
}
.nombreUser{
  color: rgb(230,230,230);
  text-decoration: underline;
  
}
/*NAV-----------------------------------------------------------------------------------------------------------------------------------*/

/*FORM1-----------------------------------------------------------------------------------------------------------------------------*/
.form1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 50px;
    background-color: rgb(230,230,230);
    border-radius: 10px;
}
.form1-item{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.form1-itemCheck{
    display: flex;
    align-items: center;
    gap: 7px;
}
.inputFile{
    border: none;
    height: auto;
}
.form1-btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(46, 96, 206);
    color: rgb(230,230,230);
    cursor: pointer;
}
/*FORM1-----------------------------------------------------------------------------------------------------------------------------*/

/*TABLA-----------------------------------------------------------------------------------------------------------------------------*/
.imgTabla1{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px; /* opcional, para esquinas redondeadas */
}
.content-tabla1 {
  background-color: rgb(230, 230, 230);
  width: fit-content;
  /*max-width: 1280px;*/
  padding: 40px;
  border-radius: 10px;
}
.ptop-filtro{
  padding-top: 10px;
}

@media(max-width:1300px){
  .content-tabla1{
    padding: 10px;
  }
}
table {
  border-collapse: collapse;
  font-size: 13px;
  max-width: 1240px;
}
.tr1 {
  background-color: rgb(51, 79, 138);
  color: rgb(243, 243, 243);
}

/* Aplica border-radius solo a las esquinas superiores del encabezado */
thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

th, td {
  padding:10px;
  text-align: center;
  max-width: 350px;
  height: auto;
  word-wrap: break-word;       /* para navegadores antiguos */
  overflow-wrap: break-word;   /* estándar moderno */
  white-space: normal;         /* permite saltos de línea */
  border: 1px solid rgb(194, 192, 192);
}
td{
    background-color: rgb(243, 243, 243);
}

/* Eliminar borde izquierdo de la primera columna */
td:first-child, th:first-child {
  border-left: none;
}

/* Eliminar borde derecho de la última columna */
td:last-child, th:last-child {
  border-right: none;
}

/* Eliminar borde superior del encabezado */
thead tr:first-child th {
  border-top: none;
}
.contentBtn-tabla1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-tabla1{
  font-size: 12px;
  padding: 0 2px;
}
.span-tabla1{
  cursor: pointer;
}
.input-tabla1{
  width: 50px;
}
.input-tabla2{
  width: 100px;
}
.inputImg-tabla{
  width: 100px;
  padding: 0;
  border: none;
}
/*TABLA-----------------------------------------------------------------------------------------------------------------------------*/

/*filtros---------------------------------------------------------------------------------------------------------------------------------------------------*/
.contentFiltros{
    background-color: rgb(250, 250, 250);
    border: solid rgb(165, 165, 165) 1px;
    border-radius: 5px;
    padding: 15px;
    width: fit-content;
    outline: 10px solid rgb(250, 250, 250);
    box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.5);
    white-space: nowrap; /* evita que el texto salte de línea */
}
.inputFiltros{
    display: flex;
    gap: 5px;
}
.content-btnFiltros{
    display: flex;
    width: 100%;
    justify-content: center;
}
.btnFiltros{
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    padding-bottom: 5px;
    background-color: rgb(51, 79, 138);
    color: rgb(230, 230, 230);
    margin-top: 15px;
    cursor: pointer;
}
.btnFiltros:hover{
    background-color: rgb(71, 71, 71);
}
.p-filtrar{
  border: 1px solid rgb(194, 192, 192);
  /*margin-bottom: 5px;*/
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  font-weight: 600;
}
.p-filtrar:hover{
  background-color: rgb(230, 230, 230);
}
    /*Filtros ya en componente contenedorTarjCat---------------------------------------*/
        .contentBTNyComp{
            position: relative;
            /*margin-bottom: 10px;*/
        }
        .compFiltros{
            position: absolute;
            z-index: 1000;
            top: 0;
        }
        .contentBTNyComp2{
            display: flex;
             justify-content: space-between;
        }
        @media(max-width: 560px){
            .contentBTNyComp2{
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
            .contentBTNyComp{
                margin-bottom: 30px;
            }
        }
    /*Filtros ya en componente contenedorTarjCat---------------------------------------*/

/*filtros---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*BarraBusqueda---------------------------------------------------------------------------------------------------------------------------------------------------*/
.btn-barraBusqueda{
    border: none;
    border-radius: 20px;
    padding: 2px 10px;
    padding-bottom: 5px;
    background-color: rgb(51, 79, 138);
    color: rgb(230, 230, 230);
    cursor: pointer;
    margin-left: 5px;
}

/*BarraBusqueda---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Footer-------------------------------------------------------------------------------------------------------------------------------*/
.footer1{
    height: 100px;
    background-color: rgb(44,44,44);
    background-color: rgb(47, 62, 94);
}
/*Footer-------------------------------------------------------------------------------------------------------------------------------*/

/*MOdal de Login-------------------------------------------------------------------------------------------------------------------------------*/
.modal-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

/*MOdal de Login-------------------------------------------------------------------------------------------------------------------------------*/
